.label
    font-size: 1.5rem
    font-weight: bold
.background
    background-image: url('/views/images/Background-01.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 100%
    margin: 0
    position: absolute
    top:0
    left:0
    width: 100%
    
    